// @import url(./light/index.scss);
// @import url(./dark/index.scss);

@import url('./transition.scss');

// 通用基建
.input-group{
    width: 150px;
    float: right;
    display: flex;
    flex-direction: row;
}
.userinfo-pagination{
    display: flex;
    flex-direction: row-reverse;
}
.tiny-grid-4{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    padding-left: 34px;
    .plain-text-group{
        float: right;
        min-width: 200px;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        span{
            width: 100%;
        }
    }
}
.grid-row{
    width: 100%;
    margin-bottom: 7px;
    gap: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    .item{
        width: 100%;
    }
    .area-item{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}


.dialog {
    min-width: 370px;
    min-height: 195px;
    border-radius: 10px;
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plain-text-group{
    float: right;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    span{
        width: 100%;
    }
}
.tiny-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    padding-left: 34px;
}

.text-area-group{
    width: 845px;
    float: right;
    margin-right: 7px;
}
.select-group{
    width: 150px;
    float: right;
}
.radio-group {
    width: 150px;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ui-button{
    width: 68px;
    background-color: #1A6FAC;
    color: #fff;
}



// 组件样式修改
:deep(.ant-form-item-required){
    color: #393E46;
}
